{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active" aria-current="page">
        <span class="breadcrumb-active"><i class="bi bi-house-door me-1"></i> Dashboard</span>
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}

<div class="alert alert-info">This is the <strong>Dashboard</strong> page.</div>

{% endblock %}
