{% extends "base.html" %}
{% block title %}Network Devices{% endblock %}
{% block header %}Network Overview{% endblock %}
{% block content %}

<h4>Network Devices Summary</h4>
<div class="row">
  <div class="col-md-4">
    <div class="card bg-success text-white">
      <div class="card-body">
        <h5 class="card-title">Total Switches</h5>
        <p class="card-text">35</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-info text-white">
      <div class="card-body">
        <h5 class="card-title">Total Routers</h5>
        <p class="card-text">12</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-warning text-dark">
      <div class="card-body">
        <h5 class="card-title">Total Firewalls</h5>
        <p class="card-text">5</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
